@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Antic+Didone&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {

    font-family: "Fahkwang", serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    height: 96vh;
    background-color: #f9f9f9;
    color: #333;
    font-family: "Fahkwang", serif;


    >.logo {
        display: flex;
        justify-content: start;
        width: 150px;
        height: 150px;
        background-color: rgba(128, 128, 128, 0.25);
        border-radius: 50%;
        margin: 20px auto;



        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    margin: 20px auto;

    >ul {
        display: flex;
        flex-direction: column;
        margin: 20px auto;

        >li {
            font-size: 20px;
            cursor: pointer;
            font-weight: 600;
            width: 100px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s;
            border-radius: 30px;

            &:hover {
                color: #f9f9f9;
                /* background-color: #33333382; */
                background-color: rgba(128, 0, 128, 0.472);
                border-radius: 10px;

            }
        }
    }
}