@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: "Poppins", serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    height: 90vh;
    background-color: #f9f9f9;
    color: #333;
    font-family: "Fahkwang", serif;





    >.logo {
        display: flex;
        justify-content: start;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px;




        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;




    >ul {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 20px;






        >li {
            font-size: 20px;
            cursor: pointer;
            font-weight: 500;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            transition: .4s;
            border-radius: 30px;
            color: rgb(140, 138, 138);
            position: relative;
            margin-top: 20px;






            &:hover {
                /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
                color: #5E17EB;


            }

            &:hover svg {


                transform: rotate(20deg);
                color: #5E17EB;


            }

            >svg {

                font-size: 22px;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                color: rgb(140, 138, 138);
                /* color: rgb(230, 224, 224); */
                border-radius: 50%;
                /* background-color: #333; */
                padding: 10px;
                transition: .5s ease;



            }
        }

    }
}


.rand-quote {

    width: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;

    >p {
        text-align: center;
        font-size: 14px;
        color: rgb(88, 86, 86);
    }

    >.quote-icon {
        font-size: 20px;
        margin-right: 10px;
        color: #ebc417;
        animation: spin 3s infinite linear;
    }

}

@keyframes spin {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.7);

    }

    100% {
        transform: scale(1);

    }

}

@media (min-width: 992px) {
    .navsmall {
        display: none;
    }
}


@media (max-width: 992px) {
    .sidebar {
        display: none;
    }

    .navsmall {
        width: 100%;
        background-color: #efefef5e;
        backdrop-filter: blur(10px);



        >ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: .8s ease;
            overflow: hidden;




            >li {
                font-size: 18px;
                margin-top: 15px;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 90%;
                transition: .8s ease;
                overflow: hidden;

                &:hover {
                    color: #5E17EB;
                }

                >svg {
                    margin-right: 10px;

                }
            }
        }

    }

    .navsmall .line {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 20px;

    }

    .navsmall .line span {
        width: 30px;
        height: 4px;
        background-color: #333;
        margin: 4px 0;
        border-radius: 2px;

    }


    .menu.open {
        max-height: 400px;
    }

    .menu.close {
        max-height: 0;
    }
}