@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: "Poppins", serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    height: 96vh;
    background-color: #f9f9f9;
    color: #333;
    font-family: "Fahkwang", serif;


    >.logo {
        display: flex;
        justify-content: start;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px;




        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;




    >ul {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 20px;






        >li {
            font-size: 20px;
            cursor: pointer;
            font-weight: 500;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            transition: .4s;
            border-radius: 30px;
            color: rgb(140, 138, 138);
            position: relative;
            margin-top: 20px;





            /* Hover Effect */
            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                /* Optional hover effect for li */

            }

            &:hover svg {

                /* Change icon background on hover */
                transform: rotate(20deg);
                /* Slightly enlarge the icon */

            }

            >svg {

                font-size: 22px;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                color: rgb(140, 138, 138);
                /* color: rgb(230, 224, 224); */
                border-radius: 50%;
                /* background-color: #333; */
                padding: 10px;
                transition: .5s ease;



            }
        }

    }
}


.rand-quote {

    width: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}