.main {

    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.welcome {

    width: 96%;
    height: 280px;
    margin: 10px auto;
    display: flex;
    border-radius: 20px;
    background-image: url(../../assets/welcombg.png);
    background-size: cover;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;




    >.icon1 {
        width: 240px;
        height: 240px;
        margin: 10px 0 0 10px;
    }

    >.icon2 {
        width: 240px;
        height: 240px;
        margin: 10px 0 0 10px;
    }

    >span {

        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        >h1 {
            display: flex;
            width: 100%;
            height: 50px;
            font-size: 45px;
            flex-wrap: wrap;
            color: white;
            font-weight: 500;
            justify-content: center;
        }

        >p {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 50px;
            font-size: 26px;
            color: white;
        }

        >button {
            width: 200px;
            height: 50px;
            border-radius: 20px;
            font-size: 20px;
            border: 2px solid rgba(255, 255, 255, 0.796);
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-bottom: 16px;
            transition: .7s;
            box-shadow: rgba(234, 237, 238, 0.328) 0px 2px 4px 0px, rgba(217, 222, 224, 0.294) 0px 2px 16px 0px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.796);
                color: rgba(0, 0, 0, 0.606);
                border: none;
                box-shadow: none;
            }
        }
    }


}


.mainCards {
    width: 96%;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;

    >.card1 {
        width: 30.3%;
        height: 300px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 20px;
        background-image: url(../../assets/grammer-icon.png);
        background-size: cover;
        background-position: center;
        transition: .5s;

        &:hover {
            cursor: pointer;
            box-shadow: none;
            transform: scale(1.05);

        }
    }

    >.card2 {
        width: 30.3%;
        height: 300px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 20px;
        background-image: url(../../assets/contact.JPG);
        background-size: cover;
        background-position: top;
        transition: .5s;

        &:hover {
            cursor: pointer;
            box-shadow: none;
            transform: scale(1.05);

        }
    }

    >.card3 {
        width: 30.3%;
        height: 300px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 20px;
        background-image: url(../../assets/help.JPG);
        background-size: cover;
        background-position: center;
        transition: .5s;

        &:hover {
            cursor: pointer;
            box-shadow: none;
            transform: scale(1.05);

        }
    }

}